.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.container__ttl {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    padding-left: 10px;
    border-left: 5px solid #000;
}

.container__nav {
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__nav-prev {
    padding-left: 40px;
    position: relative;
}

.container__nav-prev::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 40px;
    background: url("../../../../images/arrow_left.svg");
    background-size: cover;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
}

.container__nav-this {
    position: relative;
    font-weight: bold;
}

.container__nav-this::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 80px;
    background: url("../../../../images/calender.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
}

.container__nav-next {
    padding-right: 40px;
    position: relative;
}

.container__nav-next::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 40px;
    background: url("../../../../images/arrow_right.svg");
    background-size: cover;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
}

table {
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

tr:first-child {
    border-bottom: 3px solid #e1e1e1;
}

tr:not(:first-of-type) {
    border-bottom: 1px solid #e1e1e1;
}

th {
    padding: 5px 0;
    font-weight: normal;
}

td {
    padding: 5px 0;
    text-align: center;
}

th:first-of-type,
td:first-of-type {
    padding-left: 2%;
}

th:not(:first-of-type),
td:not(:first-of-type) {
    width: 15%;
}

th:last-of-type,
td:last-of-type {
    width: 15%;
    padding-right: 5%;
}

/* 承認ボタン */
.form__btn {
    margin-top: 50px;
    text-align: right;
}

.form__btn-submit {
    background-color: black;
    color: white;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}