.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.container__ttl {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    padding-left: 10px;
    border-left: 5px solid #000;
}

table {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    text-align: left;
}

tr {
    border-bottom: 1px solid #e1e1e1;
}

tr th {
    padding-left: 10%;
    width: 40%;
    height: 70px;
    font-weight: normal;
}

tr td span {
    font-weight: bold;
}

/* 日付 */
tr:nth-of-type(2) td span:last-of-type {
    padding-left: 140px;
}

/* 出勤・退勤・休憩時間 */
tr td label {
    padding: 0 70px;
}

/* 承認ボタン */
.form__btn {
    margin-top: 50px;
    text-align: right;
}

.form__btn-submit {
    background-color: black;
    color: white;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form__btn-submitted {
    background-color: #696969;
    color: white;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
}