a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: #f0eff2;
}

main {
    margin: 50px auto;
}

.header-inner {
    background-color: black;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner .header__ttl img {
    width: 250px;
}

.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--error {
    padding: 10px 30px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}
